/* .navbar-collapse {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding-values {
  margin: 0 auto;
  width: 100%;
  padding: 30px 50px 40px;
}
.navbar-collapse.collapse.show {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-custom {
  background-color: transparent;
}
li {
  display: flex;
  border: 1px solid #ffd47f;
  size: 15px;
  background-color: #fff9a4;
  justify-content: center;
  width: 100%;
}
.nav-item {
  width: 100%;
}
.navbar {
  position: fixed;
}

.box {
  width: 100%;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}

@media (min-width: 1200px) {
} ; */
.navbar-collapse {
    width: 100%;
}
.navbar-nav {
    height: 100vh;
}
li {
    display: flex;
    border: 1px solid #ffd47f;
    size: 15px;
    background-color: #fff9a4;
    justify-content: center;
    width: 100%;
  }