.arrow {
  width: 50%;
  background: #45b08c;
  border: none;
  color: #1aded7;
  margin: 0 auto;
  opacity: 65%;
  font-size: 1.5rem;
  float: right;
}
  @media (min-width: 576px) {
    .arrow {
      font-size: 2rem;
    }
  }

  @media (min-width: 768px) {
    .arrow {
        font-size: 3rem;
      }
  }

  @media (min-width: 992px) {
    .arrow {
        font-size: 4rem;
      }
  }

  @media (min-width: 1200px) {
    .arrow {
        font-size: 5rem;
      }
  }

.contact-info ul li {
  display: flex;
  justify-content: center;
  width: 250px;
}
.contact-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.icon {
  vertical-align: middle;
  font-size: 2rem;
  margin: 5px 10px;
}

.contact-info {
  margin: 0px;
  padding: 0px;
}

.modal {
  background: #fffbbd;
  border: 3px solid orange;
  border-radius: 5px;
}


  



