.form-control {
    background-color: #fff9a4;
    border: 2px solid #ffd47f;
}
.form-control:focus {
    background-color: #fff9a4;
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px#ffd47f;
}
label {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 5px;
}